<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand">
      <img src="../../../assets/logos/Boostrap_logo.svg" class="ml-2" height="50" class="d-inline-block align-center"
        alt="">
      <span class="align-center">
        LoopLAB
      </span>

    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/page1']">Explore</a>
        </li>
        <li class="nav-item">
          <a href="#create-head-section" class="nav-link">Create</a>
        </li>
        <li class="nav-item">
          <a href="#share-head-section" class="nav-link">Share</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- <div style="padding-top:78px !important;">
  <router-outlet></router-outlet>
</div> -->

<!-- HOME SECTION -->

<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <h1 class="display-4">
              Build <strong>social profiles </strong> ang gain revenue and <strong>profits</strong>
            </h1>
            <div class="d-flex flex-row">

              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-start">
                La batalla de Hastings se libró el 14 de octubre de 1066. Enfrentó al ejército franco-normando del duque
                Guillermo II de Normandía con el ejército anglosajón del rey Haroldo II. Fue el comienzo de la conquista
                normanda de Inglaterra.
              </div>
            </div>
            <div class="d-flex flex-row">

              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-start">
                La batalla de Hastings se libró el 14 de octubre de 1066. Enfrentó al ejército franco-normando del duque
                Guillermo II de Normandía con el ejército anglosajón del rey Haroldo II. Fue el comienzo de la conquista
                normanda de Inglaterra.
              </div>
            </div>
            <div class="d-flex flex-row">

              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-start">
                La batalla de Hastings se libró el 14 de octubre de 1066. Enfrentó al ejército franco-normando del duque
                Guillermo II de Normandía con el ejército anglosajón del rey Haroldo II. Fue el comienzo de la conquista
                normanda de Inglaterra.
              </div>
            </div>

          </div>
          <div class="col-lg-4">
            <div class="card bg-primary text-center card-form">
              <div class="card-body">
                <h3>Sign Up Today</h3>
                <p>Please fill out of this form to register </p>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                  </div>
                  <button type="submit" class="btn btn-outline-light btn-block">Submit</button>
                </form>
              </div>


            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</header>
