@import '../../../styles.scss';

#home-section {
  background: url('../../../assets/background/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;

  }

  .home-inner {
    padding-top: 150px;
  }

  .card-form {
    opacity: 0.95;
  }

  .fa {
    color: $primary-color;
    background: #fff;
    border-radius: 4px;
    padding: 4px;
    font-size: 24px;
  }
}

#create-section {
  .fa {
    color: $primary-color;
    background: #fff;
    border-radius: 4px;
    padding: 4px;
    font-size: 24px;
  }

}
